<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<style href="D:\IdeaProjects\book-store\src\main\resources\static\css\cart.css"></style>
</head>

<body>
<div class="CartContainer" style="text-align: center">
    <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
        <h5 class="Action"><a th:src="@{'/cart/clear/{userId}'(userId=${userId})}">Remove all</a></h5>
    </div>

    <div class="Cart-Items" th:each="book:${books}">
        <div class="image-box">
            <img th:src="${book.getImage()}" style=" height: 120px" />
        </div>
        <div class="about">
            <h1 class="title" th:text="${book.getTitle()}"></h1>
            <h3 class="subtitle" th:text="${book.getSubtitle()}"></h3>
<!--            <img src="images/veg.png" style="height:30px" />-->
        </div>
        <div class="counter">
            <div class="btn" ><a th:href="@{'/cart/increase/{userId}/{isbn13}'(userId=${userId},isbn13=${book.getIsbn13()})}">+</a></div>
            <div class="count" th:text="${book.getCount()}"></div>
            <div class="btn" ><a th:href="@{'/cart/remove/{userId}/{isbn13}'(userId=${userId},isbn13=${book.getIsbn13()})}">-</a></div>
        </div>
        <div class="prices">
            <div class="amount" ><h2 th:text="${book.getPrice()}"></h2></div>

        </div>
    </div>

    <hr>
    <div class="checkout">
        <div class="total">

            <div class="total-amount" th:text="${totalPrice}">$6.18</div>
        </div>
        <button class="button">Checkout</button></div>
</div>
</body>

</html>